:root{
    --primary: gray;
}
.btn{
    padding: 8px 20px;
    border-radius: 80px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.btn:hover{
    background-color:#20B2AA;
    border:1px solid #20B2AA;
    transition: all 0.3s ease-out;
    color: white;
}
*:focus {
    outline: none;
}
